.buttonActive {
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
}

.buttonFollow {
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
}

.loadingDiv {
  display: absolute;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.containerLoadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.textContainerLoadingDiv {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.usersLoadingContainer {
  opacity: 0.5;
}

/* .containerLoading {
  margin-top: -700px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  display: absolute;
  width: 100%;
  height: 100%;
}

.containerInsideLoadingContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingIcon {
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20;
  border-radius: 6px;
} */
